body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
   padding: 9px 0;
}

label {
    display: block;
    font-weight: bold;
}

#logo {

}
#site-slogan {
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    margin: -6px 0 0 15px;
    max-width: 500px;
    position: absolute;
    top: 30px;
}

#pageNav .tinyman .headerTinymanPhoto {
	border: 1px solid #294a8f;
	border-top: 1px solid #123682;
	-webkit-border-radius: 2px;
	height: 23px;
	margin: 3px 5px 3px 3px;
	width: 23px;
}

/* 
 * Homepage Specific items
 */
#birth_day, #birth_month, #birth_year{
	width: 70px;
}

.item-list ul {
    margin: 0 0 0.75em;
    padding: 0;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}
	#user-login-form .item-list ul {
	    padding-left: 0;
	    padding-top: 10px;
	}

	#user-login-form .item-list ul li {
	    display: inline;
	    list-style-type: none;
	    margin-left: 74px;
    }
    #user-login-form .item-list ul li:first-child {
        margin-left: 4px;
    }

.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}
#user-login-block .form-item {
    float: left;
    margin-left: 10px;
}
#user-login-block .form-item:first-child {
    margin-left: 0;
}
#user-login-form input.form-text {
    border: 2px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 5px;
    width: 160px;
}
#user-login-block input[type="submit"] {
    background: url("images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
    left: 368px;
    margin: 0;
    overflow: hidden;
    padding: 4px 9px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px #F0F0F0;
    top: -53px;
}
#contentTextHome {
	font-size: .9em;
}
#front-page-wrapper {
    background: url("../img/bg_grey.png") repeat-x scroll left bottom #CCCCCC;
    min-height: 212px;
    padding-bottom: 0;
}
#front-page {
    margin: 0 auto;
    min-height: 112px;
}
#front-page-inner {
    margin: 0 auto;
    width: 960px;
}
#front-page-inner div.block h2 {
    color: #333333;
    text-transform: uppercase;
}
#front-page-inner div.block {
    float: left;
    padding: 0 10px;
    width: 240px;
}
#front-page-inner-image {
    background: url("../img/inlove.png") no-repeat scroll 0 20px transparent;
    float: left;
    height: 368px;
    padding: 0;
    width: 370px;
    margin-right: 16px;
}
.clear {
    clear: both;
}
#front-page form.signup .holding{
    margin-bottom:8px;
}
#front-page form.signup .holding input {
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 8px;
    opacity: 1 !important;
    padding: 9px 7px 10px;
    width: 240px;
}

.ui-gender-radio {
	margin: 0px;
	padding: 0px;
	float: left;
}
.ui-gender-radio + label {
	margin: 0 24px 14px 8px;
	float: left;
}

.brandMobile{
	display: block;
	float:left;
	width: 23px;
	height: 23px;
	background: url(../img/logo_sq.png) no-repeat;
	margin-top: 8px;
	margin-left: 8px;
}
.brandDesktop {
	margin-left:8px;
}
/*
 * message menu
 */
#messagesInit {
	margin:auto;
	text-align: center;
	color: #98AAB1;
}
.dropdown-messages{
	font-size: .8em;
	min-width: 280px;
	left: -130px;
}
.notif-counter {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 9px;
}

.navbar .nav > li > .dropdown-messages::before {
	left:189px;
}
.navbar .nav > li > .dropdown-messages::after {
	left:190px;
}

#footer {
  padding: 60px;
  margin-top: 30px;
  font-size: 1em;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
