body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
   padding: 9px 0;
}

label {
    display: block;
    font-weight: bold;
}

#logo {

}
#site-slogan {
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    margin: -6px 0 0 15px;
    max-width: 500px;
    position: absolute;
    top: 30px;
}

#pageNav .tinyman .headerTinymanPhoto {
	border: 1px solid #294a8f;
	border-top: 1px solid #123682;
	-webkit-border-radius: 2px;
	height: 23px;
	margin: 3px 5px 3px 3px;
	width: 23px;
}

.hidden {
	display: none;
}

/* 
 * Homepage Specific items
 */
#birth_day, #birth_month, #birth_year{
	width: 70px;
}

.item-list ul {
    margin: 0 0 0.75em;
    padding: 0;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}
	#user-login-form .item-list ul {
	    padding-left: 0;
	    padding-top: 10px;
	}

	#user-login-form .item-list ul li {
	    display: inline;
	    list-style-type: none;
	    margin-left: 74px;
    }
    #user-login-form .item-list ul li:first-child {
        margin-left: 4px;
    }

.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}
#user-login-block .form-item {
    float: left;
    margin-left: 10px;
}
#user-login-block .form-item:first-child {
    margin-left: 0;
}
#user-login-form input.form-text {
    border: 2px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 5px;
    width: 160px;
}
#user-login-block input[type="submit"] {
    background: url("images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
    left: 368px;
    margin: 0;
    overflow: hidden;
    padding: 4px 9px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px #F0F0F0;
    top: -53px;
}
#contentTextHome {
	font-size: .9em;
}
#front-page-wrapper {
    background: url("../img/bg_grey.png") repeat-x scroll left bottom #CCCCCC;
    min-height: 212px;
    padding-bottom: 0;
}
#front-page {
    margin: 0 auto;
    min-height: 112px;
}
#front-page-inner {
    margin: 0 auto;
    width: 960px;
}
#front-page-inner div.block h2 {
    color: #333333;
    text-transform: uppercase;
}
#front-page-inner div.block {
    float: left;
    padding: 0 10px;
    width: 240px;
}
#front-page-inner-image {
    background: url("../img/inlove.png") no-repeat scroll 0 20px transparent;
    float: left;
    height: 368px;
    padding: 0;
    width: 370px;
    margin-right: 16px;
}
.clear {
    clear: both;
}
#front-page form.signup .holding{
    margin-bottom:8px;
}
#front-page form.signup .holding input {
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 8px;
    opacity: 1 !important;
    padding: 9px 7px 10px;
    width: 240px;
}

.ui-gender-radio {
	margin: 0px;
	padding: 0px;
	float: left;
}
.ui-gender-radio + label {
	margin: 0 24px 14px 8px;
	float: left;
}

.brandMobile{
	display: block;
	float:left;
	width: 23px;
	height: 23px;
	background: url(../img/logo_sq.png) no-repeat;
	margin-top: 8px;
	margin-left: 8px;
}
.brandDesktop {
	margin-left:8px;
}
/*
 * message menu
 */
#messagesInit {
	margin:auto;
	text-align: center;
	color: #98AAB1;
}
.l-sidebar-left {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.messageItem {
	font-size:1em;
	margin-bottom: 0px;
	border-bottom: #CCCCCC solid 1px;
	padding: 4px;
	overflow:hidden;
}
div.new {
	background-color: #eceff5;
	background: rgba(237,239,245,0.98);
}
.messageItem-user img {
	width: 40px;
	height: 40px;
	float:left;
}
.messageItem-username {
	
	margin-top: 0px;
	margin-left: 46px;
	font-weight: bold;
}
.messageItem-msg {
	
	margin-left: 46px;
}
.messageItem-date {
	margin-left: 46px;
}
.dropdown-messages{
	font-size: .8em;
	min-width: 280px;
	left: -130px;
}

.messageItem {
	cursor: pointer;
}

.wall-unit{
	clear:both;
	padding-top: 20px;
}
.wall-unit .profile-pic {
	width:50px;
	height: auto;
	float: left;
	padding-right: 10px;
}

.wall-unit .statusfeed_content {
	background: #EEEEEE;
}

#messageList {
	font-size: .8em;
	list-style: none;
}

/* --------------- Messages page ------------------------------- */
div.l-sidebar-left {
	
}
#sidebarMessageList {
	max-height: 400px;
	overflow: auto;
}
ul#sidebarMessagesNav{
	margin:0;
	padding:0;
	margin-left: 4px;
	margin-top: 4px;
	position: relative;
	display: block;
}
#sidebarMessagesNav li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;
}
#threadMessages {
	max-height: 400px;
	overflow: auto;
}
#threadMessageList {
	margin:0;
	padding:0;	
}

#threadMessageList > li {
	list-style-type: none;
	margin: 20px 0;
	padding: 8px 20px 7px;
	/*border-bottom:#B5B5B5 solid 1px;*/
}
.ThreadMessageItem-fromImg {
	width: 33px;
	height: 33px;
	float: left;
	margin-right: 10px;
}
.threadMessageItem-from {
	float: left;
}
.ThreadMessageItem-time {
	float: right;
}
.ThreadMessageItem-text {
	margin-left: 43px;
	margin-top: -8px;
	clear:both;
	font-size: .9em;
}
.threadMessageItem-replyField {
	width: 80%;
}
.messageThreadForm {
	background-color: #f5f5f5;
	padding-top: 20px;
	border-top: 1px solid #e5e5e5;
}
.messageThreadForm .controls {
	margin-left: 10px;

}
.messageThreadForm .form-actions {
	padding-left: 10px;
    padding: 0px 12px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: none;
}
.notif-counter {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 9px;
}


.navbar .nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  border-top: 6px solid #ffffff;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e5e5e5;
  color: #555555;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -1px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.navbar-inverse .navbar-inner {
  background-color: #66CC00;
  background-image: -moz-linear-gradient(top, #66CC00, #4d9900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66CC00), to(#4d9900));
  background-image: -webkit-linear-gradient(top, #66CC00, #4d9900);
  background-image: -o-linear-gradient(top, #66CC00, ##4d9900);
  background-image: linear-gradient(to bottom, #66CC00, #4d9900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66cc00', endColorstr='#ff4d9900', GradientType=0);
  border-color: #252525;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
}

.navbar-inverse .brand {
  color: #999999;
}
.navbar-inverse .navbar-text {
  color: #999999;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}
.navbar-inverse .navbar-link {
  color: #999999;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}

.navbar-inverse .navbar-inner {
  background-color: #66CC00;
  background-image: -moz-linear-gradient(top, #66CC00, #4d9900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66CC00), to(#4d9900));
  background-image: -webkit-linear-gradient(top, #66CC00, #4d9900);
  background-image: -o-linear-gradient(top, #66CC00, ##4d9900);
  background-image: linear-gradient(to bottom, #66CC00, #4d9900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66cc00', endColorstr='#ff4d9900', GradientType=0);
  border-color: #252525;
}

.navbar .nav > li > .dropdown-messages::before {
	left:179px;
}
.navbar .nav > li > .dropdown-messages::after {
	left:180px;
}


/* --------------- myhome ----------------------- */
.new-users-container {
	
}
.userUnit {
	width: 160px;
	clear: both;
	margin-top: 4px;
	background-color: #ccc;
}
img.userUnit-img {
	width: 40px;
	border: 1px solid #CCCCCC;
}
.userUnit-imgDiv {
	float:left;
}
.userUnit-info{
	margin-left: 4px;
}
#footer {
  padding: 60px;
  margin-top: 30px;
  font-size: 1em;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
